.footer {
  color: whitesmoke;
  font-size: small;
  justify-content: left;
  text-align: center;
  align-items: center;
  background-color: firebrick;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
}
