.footer {
  color: whitesmoke;
  font-size: small;
  line-height: 50%;
  justify-content: left;
  text-align: center;
  align-items: center;
  background-color: firebrick;
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px 0 5px 0;
}
