.banner {
  background-color: firebrick;
  height: 100px;
  display: flex;
}

.title {
  color: whitesmoke;
  font-size: xx-large;
  text-align: left;
  justify-content: left;
  align-items: center;
}

.buttons {
  text-align: center;
  padding-bottom: 20px;
}

.image {
  justify-content: right;
  align-items: center;
}
