.banner {
  background-color: firebrick;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  color: whitesmoke;
  font-size: xx-large;
  justify-content: left;
  align-items: center;
  flex: auto;
  line-height: 80%;
  padding-left: 10%;
}

.buttons {
  text-align: center;
  padding-bottom: 20px;
}

.image {
  justify-content: right;
  align-items: center;
  padding-right: 10%;
}
